body{
	padding: 0px;
	margin:0px;
}
p{
		text-align: left;
		color: #000000;
		font-family: arial;
		font-size: 20px;
		text-indent: 4em;
		padding: 20px;
		width: 100px;
	}
	#toptxt{
		text-align: left;
		color: #000000;
		font-family: arial;
		font-size: 80px;
		text-indent: 50px;
		padding: 0px;
		width: 90%
		margin:0px;
	}

	h1,h2,h3,h4,h5,h6{
		text-indent: 2em;
	}
	
	#main{
		width: 1800px;
		height: 900px;
		position: absolute;
		top: 20px;
		left: 20px;
	}
	#left{
		width: 350px;
		height: 900px;
		position: absolute;
		top: 0px;
		left: 20px;
		background: #c2c2c2;
	}
	#right{
		width: 1400px;
		height: 900px;
		position: absolute;
		top:0px;
		left: 400px;
		overflow: auto;
		background:url(image/bg.jpg);
	}
	#txt{
		width: 1400px;
		height: 700px;
		position: absolute;
		top: 200px;
		left: 0px;
		overflow: auto;
	}
    
	a:link{
		text-decoration: none;
		font-size: 24px;
	}
	a:link#two{
		color: #000000;
		font-size: 20px;
		text-decoration:underline;
		text-decoration-color: #000000;
		font-style: italic;
	}