body{
	padding: 0px;
	margin:0px;
	}

#divmmm{
	padding: 0px;
	margin:0px;
	width: 100%;
	height: 100%;
	background:url(../imagecccc/bg71.jpg) no-repeat fixed  #fff;
}
p{
		text-align: left;
		color: #000000;
		font-family: arial;
		font-size: 20px;
		text-indent: 3px;
		padding: 0px;
		width: 90%
	}
	h1,h2,h3,h4,h5,h6{
		text-indent: 3px;
	}
a:link,a:visited
{
display:block;
width:100%;
height: 100%;
text-align:center;
padding: 0px;
}
a:hover,a:active
{
width: 95%;
height:95%;
margin-top: 1%;
margin-left: auto;
margin-right: auto;
}
div{
	background-color: #0099ff;
}
#tx2{
	display: inline;
	font-size: 30px;
	text-decoration: none;
	color: white;
}

#txt{
	display: inline;
	font-size: 25px;
}
#main{
	width: 1280px;
	height: 720px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 100px;
	left: 150px;
	background-color: transparent;
}
#main2{
	width: 330px;
	height: 720px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 100px;
	left: 1450px;
}
#topbar{
	width: 940px;
	height: 270px;
	background-color: transparent;

}
#leftbar{
	width: 330px;
	height: 440px;
	position: absolute;
	top: 280px;
	left: 0px;
	background-color: transparent;

}
#rightbar{
	width: 600px;
	height: 440px;
	position: absolute;
	top: 280px;
	left: 340px;
	background-color: transparent;

}
#sidebar{
	width: 330px;
	height: 720px;
	position: absolute;
	top: 0px;
	right: 0px; 
	background-color: transparent;
}
/*顶栏内容*/
.em{
	display: block;
	width: 480px;
	height: 270px;
	background-color:#990099}
.forum{
	width: 450px;
	height: 270px;
	position: absolute;
	top: 0px;
	left: 490px;
	background-color:#660066;
}
.login h1{
	font-size: 40px;
	color: purple;
}
.txt{
	width: 100%;
	height: 80%;
	position: absolute;
	top: 20%;
	overflow: auto;
	background-color: transparent;
	
}
/*顶栏内容*/
/*左栏内容*/
.urban{
	width: 330px;
	height: 140px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color:#cc33ff;
}
	.shuffle{
	width: 330px;
	height: 140px;
	position: absolute;
	top: 150px;
	left: 0px;
	background-color:#9966ff;
}.resource{
	width: 330px;
	height: 140px;
	position: absolute;
	top: 300px;
	left: 0px;
	background-color: #9900ff;
}
/*左栏内容*/
/*右栏内容*/
.search{
	width: 600px;
	height: 60px;
	position: absolute;
	top: 0px;
	left: 0px;}
.first{
	height: 180px;	
	width: 295px;
	position: absolute;
	top: 70px;
	left: 0px;
	background-color:#990099;}
.second{height: 180px;	
	width: 295px;
	position: absolute;
	top: 70px;
	left: 305px;
background-color: #BA55D3;}
.third{height: 180px;	
	width: 295px;
	position: absolute;
	top: 260px;
	left: 0px;background-color:#9933cc;}
.fourth{height: 180px;	
	width: 295px;
	position: absolute;
	top: 260px;
	left: 305px;background-color:#9966ff;}
/*右栏内容*/
/*侧栏内容*/
.login{
	width: 330px;
	height: 300px;
	position: absolute;
	top: 0px;
	left: 0px;background-color: #be77ff;
}
.u5{
	width: 330px;
	height: 200px;
	position: absolute;
	top: 310px;
	left: 0px;background-color:#ff00ff;
}
.developer{
	width: 330px;
	height: 200px;
	position: absolute;
	top: 520px;
	left: 0px;background-color:#8600ff;
}
/*侧栏内容*/
/*隐藏栏内容*/
/*隐藏栏内容*/